<%- include('../layout/header') %>
<main id="main">
    <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class=""
                aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"
                class=""></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"
                class="active" aria-current="true"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item">
                <img src="https://gshock.casio.com/content/casio/locales/intl/en/brands/gshock/_jcr_content/root/responsivegrid/container/carousel/teaser_copy_copy.casiocoreimg.jpeg/1725844745106/casio-kv-pc-02-en.jpeg" alt="">
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1>Example headline.</h1>
                        <p class="opacity-75">Some representative placeholder content for the first slide of the
                            carousel.</p>
                        <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://gshock.casio.com/content/casio/locales/intl/en/brands/gshock/_jcr_content/root/responsivegrid/container/carousel/image_copy.casiocoreimg.jpeg/1725844744978/kv-1920x816-logo.jpeg"
                    alt="">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Another example headline.</h1>
                        <p>Some representative placeholder content for the second slide of the carousel.</p>
                        <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item active">
                <img src="https://gshock.casio.com/content/casio/locales/intl/en/brands/gshock/products/rangeman/gpr-h1000/_jcr_content/root/responsivegrid/container_copy/image.casiocoreimg.jpeg/1706577750376/pc-w1920h816-rangeman-logo.jpeg" alt="">
                <div class="container">
                    <div class="carousel-caption text-end">
                        <h1>One more for good measure.</h1>
                        <p>Some representative placeholder content for the third slide of this carousel.</p>
                        <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="container">
        <div class="title-models">
            <div class="content-title">
                <div class="title-md">
                    <img src="https://mauweb.monamedia.net/gwatch/wp-content/uploads/2018/11/24-hours-phone-service.png" alt="">
                    <strong>Phục vụ 24/7</strong>
                </div>
                <div class="title-md">
                    <img src="https://mauweb.monamedia.net/gwatch/wp-content/uploads/2018/11/gift.png" alt="">                 
                    <strong>Giao hàng tận nơi</strong>
                </div>
                <div class="title-md">
                    <img src="https://mauweb.monamedia.net/gwatch/wp-content/uploads/2018/11/gift.png" alt="">
                    <strong>Miễn phí vận chuyển</strong>
                </div>
            </div>
        </div>

        <!-- DANH MỤC SẢN PHẨM -->
        <div class="title-danhmuc">
            <h2>ĐỒNG HỒ NAM</h2>
        </div>
        <div class="slider-models-contai">
            <div id="models-slid" class="slider-models">
                <% products.category1.forEach(item => { %>
                <div class="img-model">
                    <a href="/products/<%= item.id %>">
                        <img src="<%= item.image %>" alt="">
                    </a>
                    <div class="name-model">
                        <a href="/products/<%= item.id %>">
                            <h3><%= item.name %></h3>
                        </a>
                    </div>
                </div>
                <% }) %>
            </div>
            <div class="btn-models">
                    <div id="left-model" class="left-models btn-mod">
                        <i class='bx bx-chevron-left'></i>
                    </div>
                    <div id="right-model" class="right-models btn-mod">
                        <i class='bx bx-chevron-right'></i>
                    </div>
            </div>
        </div>

        <div class="img-title">
            <img src="http://donghotuandt.vnn.mn/userfiles/img/604453/gps_mainbanner1.jpg" alt="">
        </div>

        <!-- SẢN PHẨM GIẢM GIÁ -->
        <div class="title-danhmuc">
            <h2>ĐỒNG HỒ NỮ</h2>
        </div>
        <div class="slider-models-contai">
            <div id="models-sale" class="slider-models"> 
                <% products.category2.forEach(item => { %>   
                <div class="sale-model">
                    <div class="model-sl">
                        <a href="/products/<%= item.id %>">
                            <img src="<%= item.image %>" alt="">
                        </a>
                        <div class="name-model">
                            <a href="/products/<%= item.id %>">
                                <h4><%= item.name %></h4>
                            </a>
                            <h5><%= item.price %> vnđ</h5>
                            <button><a href="">Mua hàng</a></button>
                        </div>
                    </div>
                </div> 
                <% }) %>  

                    
                                     
            </div>
            <div class="btn-models">
                    <div id="left-sale" class="left-models btn-mod">
                        <i class='bx bx-chevron-left'></i>
                    </div>
                    <div id="right-sale" class="right-models btn-mod">
                        <i class='bx bx-chevron-right'></i>
                    </div>
            </div>
        </div>

        <div style="margin: 0 auto; margin-top: 80px" class="img-title">
            <img src="http://donghotuandt.vnn.mn/userfiles/img/604453/gbd800ucmainbanner.jpg" alt="">
        </div>

        <!-- TIN TỨC VÀ MẪU MỚI RA-->
        <div class="title-danhmuc">
            <h2>TIN TỨC VÀ MẪU MỚI RA MẮT</h2>
        </div>
        <div class="slider-models-contai">
            <div id="models-selling" class="slider-models"> 
          
                <div class="selling-model">
                    <div class="model-sl">
                        <div class="img-sell">
                        <a href=""><img src="https://gshock.casio.com/content/casio/locales/intl/en/brands/gshock/_jcr_content/root/responsivegrid/container_1790102794/content_panel_list/content_panel_202104_1608992912/image.casiocoreimg.jpeg/1708933104104/og-w800h800-notext.jpeg" alt=""></a>
                        </div>
                        <div class="name-model-sell">
                            <a href=""><h5>MULTICOLOR ACCENTS</h5></a>
                            <span>Monochromatic color schemes with a playful touch: Multicolor designs with a pop flair</span>                              </div>
                    </div>
                </div>                      
                <div class="selling-model">
                    <div class="model-sl">
                        <div class="img-sell">
                            <a href=""><img src="https://gshock.casio.com/content/casio/locales/intl/en/brands/gshock/_jcr_content/root/responsivegrid/container_1790102794/content_panel_list/content_panel_202107_1741450022/image.casiocoreimg.jpeg/1708933103431/4-2.collabo-web-mo-800x800%28px%29.jpeg" alt=""></a>
                        </div>
                        <div class="name-model-sell">
                            <a href=""><h5>ITZY x G-SHOCK</h5></a>
                            <span>Collaboration watches featuring K-POP Girl Group ITZY</span>
                        </div>
                    </div>
                </div>                      
                <div class="selling-model">
                    <div class="model-sl">
                        <div class="img-sell">
                            <a href=""><img src="https://gshock.casio.com/content/casio/locales/intl/en/brands/gshock/_jcr_content/root/responsivegrid/container_1790102794/content_panel_list/content_panel_202104_636517217/image.casiocoreimg.jpeg/1708933103462/og-w800h800-notext.jpeg" alt=""></a>
                        </div>
                        <div class="name-model-sell">
                            <a href=""><h5>GST - B600</h5></a>
                            <span>Smallest G-STEEL yet</span>
                        </div>
                    </div>
                </div>                      
                <div class="selling-model">
                    <div class="model-sl">
                        <div class="img-sell">
                            <a href=""><img src="https://gshock.casio.com/content/casio/locales/intl/en/brands/gshock/_jcr_content/root/responsivegrid/container_1790102794/content_panel_list/content_panel_202309_1184308030/image.casiocoreimg.jpeg/1708933103493/og-w800h800-notext.jpeg" alt=""></a>
                        </div>
                        <div class="name-model-sell">
                            <a href=""><h5>G-Shock HIDDEN GLOW</h5></a>
                            <span>Phosphorescent faces for designs that shine</span>
                        </div>
                    </div>
                </div>                      
                <div class="selling-model">
                    <div class="model-sl">
                        <div class="img-sell">
                            <a href=""><img src="https://gshock.casio.com/content/casio/locales/intl/en/brands/gshock/_jcr_content/root/responsivegrid/container_1790102794/content_panel_list/content_panel_202309_746782933/image.casiocoreimg.jpeg/1708933103523/og-w800h800-notext.jpeg" alt=""></a>
                        </div>
                        <div class="name-model-sell">
                            <a href=""><h5>TEAM LAND CRUISER TOYOTA AUTO BODY</h5></a>
                            <span>Team Land Cruiser collaboration model: Partnering with a veteran Dakar Rally challenger</span>
                        </div>
                    </div>
                </div>                      
                <div class="selling-model">
                    <div class="model-sl">
                        <div class="img-sell">
                            <a href=""><img src="https://gshock.casio.com/content/casio/locales/intl/en/brands/gshock/_jcr_content/root/responsivegrid/container_1790102794/content_panel_list/content_panel_202302_161576374/image.casiocoreimg.jpeg/1708933103554/thumb-b1000.jpeg" alt=""></a>
                        </div>
                        <div class="name-model-sell">
                            <a href=""><h5>G-SHOCK MAGAZINE</h5></a>
                            <span>HODINKEE | GWC - B1000</span>
                        </div>
                    </div>
                </div>                      
                <div class="selling-model">
                    <div class="model-sl">
                        <div class="img-sell">
                            <a href=""><img src="https://gshock.casio.com/content/casio/locales/intl/en/brands/gshock/_jcr_content/root/responsivegrid/container_1790102794/content_panel_list/content_panel_202401/image.casiocoreimg.jpeg/1708933103584/thumb-pl.jpeg" alt=""></a>
                        </div>
                        <div class="name-model-sell">
                            <a href=""><h5>G-SHOCK MAGAZINE</h5></a>
                            <span>HYPEBEAST | POLYCHROMATIC ACCENTS</span>
                        </div>
                    </div>
                </div>                      
                <div class="selling-model">
                    <div class="model-sl">
                        <div class="img-sell">
                            <a href=""><img src="https://gshock.casio.com/content/casio/locales/intl/en/brands/gshock/_jcr_content/root/responsivegrid/container_1790102794/content_panel_list/content_panel_202105_1373303742/image.casiocoreimg.jpeg/1708933103632/og-w800h800-notext.jpeg" alt=""></a>
                        </div>
                        <div class="name-model-sell">
                            <a href=""><h5>TONE-ON-TONE SERIES</h5></a>
                            <span>Bold, yet delicate : Monochromatic color for a touch of flair</span>
                        </div>
                    </div>
                </div>                      
                <div class="selling-model">
                    <div class="model-sl">
                        <div class="img-sell">
                            <a href=""><img src="https://gshock.casio.com/content/casio/locales/intl/en/brands/gshock/_jcr_content/root/responsivegrid/container_1790102794/content_panel_list/content_panel_202204_1792891031/image.casiocoreimg.jpeg/1708933103669/og-w800h800-notext.jpeg" alt=""></a>
                        </div>
                        <div class="name-model-sell">
                            <a href=""><h5>GMD - S5600CT</h5></a>
                            <span>Nature-minded cloth-band watches in comfortable colors and materials</span>
                        </div>
                    </div>
                </div>                      
                <div class="selling-model">
                    <div class="model-sl">
                        <div class="img-sell">
                            <a href=""><img src="https://gshock.casio.com/content/casio/locales/intl/en/brands/gshock/_jcr_content/root/responsivegrid/container_1790102794/content_panel_list/content_panel_202312/image.casiocoreimg.jpeg/1708933103699/og-w800h800-notext.jpeg" alt=""></a>
                        </div>
                        <div class="name-model-sell">
                            <a href=""><h5>RANGEMAN GPR-H1000</h5></a>
                            <span>6 sensors + GPS functionality to track movement in real time</span>
                        </div>
                    </div>
                </div>                      
                <div class="selling-model">
                    <div class="model-sl">
                        <div class="img-sell">
                            <a href=""><img src="https://gshock.casio.com/content/casio/locales/intl/en/brands/gshock/_jcr_content/root/responsivegrid/container_1790102794/content_panel_list/content_panel_copy_c/image.casiocoreimg.jpeg/1708933104009/gm-s1100bp-5a-11.jpeg" alt=""></a>
                        </div>
                        <div class="name-model-sell">
                            <a href=""><h5>BEAUTIFULL PEOPLE x G-SHOCK</h5></a>
                            <span>Collaboration</span>
                        </div>
                    </div>
                </div>                      
                <div class="selling-model">
                    <div class="model-sl">
                        <div class="img-sell">
                            <a href=""><img src="https://gshock.casio.com/content/casio/locales/intl/en/brands/gshock/_jcr_content/root/responsivegrid/container_1790102794/content_panel_list/content_panel_202107_1591627180/image.casiocoreimg.jpeg/1708933104039/og-w800h800-notext.jpeg" alt=""></a>
                        </div>
                        <div class="name-model-sell">
                            <a href=""><h5>CHARLES DARWIN FOUNDATION PARTNERSHIP MODEL</h5></a>
                            <span>Colllaboration</span>
                        </div>
                    </div>
                </div>                      
                <div class="selling-model">
                    <div class="model-sl">
                        <div class="img-sell">
                            <a href=""><img src="https://gshock.casio.com/content/casio/locales/intl/en/brands/gshock/_jcr_content/root/responsivegrid/container_1790102794/content_panel_list/content_panel_202201_1943968438/image.casiocoreimg.jpeg/1708933104072/og-w800h800-notext.jpeg" alt=""></a>
                        </div>
                        <div class="name-model-sell">
                            <a href=""><h5>NATURE'S COLOUR</h5></a>
                            <span>Natural colours and botanical designs harmoniously complement stress-free lifestyles</span>
                        </div>
                    </div>
                </div>                      
            </div>
            <div style="color: #FF0000;" class="btn-models">
                    <div id="left-selling" class="left-models btn-mod">
                        <i class='bx bx-chevron-left'></i>
                    </div>
                    <div id="right-selling" class="right-models btn-mod">
                        <i class='bx bx-chevron-right'></i>
                    </div>
            </div>
        </div>
    </div>
</main>
<%- include('../layout/footer') %>
<script>
    //SLIDER DANH MỤC SẢN PHẨM
    let btnLeftModel = document.getElementById('left-model');
        let btnRightModel = document.getElementById('right-model');
        btnRightModel.addEventListener('click', () => {
        let listSlider = document.querySelectorAll('.img-model');
        document.getElementById('models-slid').appendChild(listSlider[0]);

        });
        btnLeftModel.addEventListener('click', () => {
        let listSlider = document.querySelectorAll('.img-model');
        document.getElementById('models-slid').prepend(listSlider[listSlider.length-1]);
        });

        //SLIDER SAN PHAM GIẢM GIÁ
        let btnLeftSale = document.getElementById('left-sale');
        let btnRightSale = document.getElementById('right-sale');
        btnRightSale.addEventListener('click', () => {
        let listSlider = document.querySelectorAll('.sale-model');
        document.getElementById('models-sale').appendChild(listSlider[0]);
        });
        btnLeftSale.addEventListener('click', () => {
        let listSlider = document.querySelectorAll('.sale-model');
        document.getElementById('models-sale').prepend(listSlider[listSlider.length-1]);
        });

        //SLIDER SAN PHAM BÁN CHẠY
        let btnLeftSelling = document.getElementById('left-selling');
        let btnRightSelling = document.getElementById('right-selling');
        btnRightSelling.addEventListener('click', () => {
        let listSlider = document.querySelectorAll('.selling-model');
        document.getElementById('models-selling').appendChild(listSlider[0]);
        });
        btnLeftSelling.addEventListener('click', () => {
        let listSlider = document.querySelectorAll('.selling-model');
        document.getElementById('models-selling').prepend(listSlider[listSlider.length-1]);
        });
</script>