<%- include('../layout/header') %>
    <main>
        <div class="img-title-introduce">
            <img src="https://www.casio.com/content/casio/locales/intl/en/products/watches/products/type/connect/_jcr_content/root/responsivegrid/container_copy/image.casiocoreimg.jpeg/1700436149058/hero-pc-m.jpeg"
                alt="">
        </div>
        <div class="container">
            <% if(err) { %>
                <div class="alert alert-danger" role="alert">
                    <%= err %>>
                </div>
                <% } %>
                    <% if(!products.length) {%>
                        <div class="alert alert-info" role="alert">
                            Khong tim thay du lieu
                        </div>
                        <% } %>

                            <article>


                                <div class="slider-product-contai">
                                    <div id="product-selling" class="slider-products">

                                        <div class="product-model">
                                            <div class="model-sl">
                                                <div class="img-sell">
                                                    <a href=""><img
                                                            src="https://gshock.casio.com/content/casio/locales/intl/en/brands/gshock/products/g-steel/_jcr_content/root/responsivegrid/container_1975693142/content_panel_list/content_panel_202104/image.casiocoreimg.jpeg/1707354241176/og-w800h800-notext.jpeg"
                                                            alt=""></a>
                                                </div>
                                                <div class="name-product-sell">
                                                    <a href="">
                                                        <h5>GST-B600</h5>
                                                    </a>
                                                    <span>Smallest G-STEEL yet</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-model">
                                            <div class="model-sl">
                                                <div class="img-sell">
                                                    <a href=""><img
                                                            src="https://gshock.casio.com/content/casio/locales/intl/en/brands/gshock/products/g-steel/_jcr_content/root/responsivegrid/container_1975693142/content_panel_list/content_panel_202104211430562583/image.casiocoreimg.jpeg/1707354241039/products-sp.jpeg"
                                                            alt=""></a>
                                                </div>
                                                <div class="name-product-sell">
                                                    <a href="">
                                                        <h5>GST-B400</h5>
                                                    </a>
                                                    <span>Original, functional beauty enabled by combining materials —
                                                        stylish and tough</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-model">
                                            <div class="model-sl">
                                                <div class="img-sell">
                                                    <a href=""><img
                                                            src="https://gshock.casio.com/content/casio/locales/intl/en/brands/gshock/products/g-steel/_jcr_content/root/responsivegrid/container_1975693142/content_panel_list/content_panel_202104211430562572/image.casiocoreimg.jpeg/1707354241086/products-sp.jpeg"
                                                            alt=""></a>
                                                </div>
                                                <div class="name-product-sell">
                                                    <a href="">
                                                        <h5>GST-B100 Series</h5>
                                                    </a>
                                                    <span>Bluetooth® CHRONO SOLAR</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-model">
                                            <div class="model-sl">
                                                <div class="img-sell">
                                                    <a href=""><img
                                                            src="https://gshock.casio.com/content/casio/locales/intl/en/brands/gshock/products/air/_jcr_content/root/responsivegrid/container_1983787584/container_1975693142/content_panel_list/content_panel_202104211430562570/image.casiocoreimg.jpeg/1644398141067/products-sp.jpeg"
                                                            alt=""></a>
                                                </div>
                                                <div class="name-product-sell">
                                                    <a href="">
                                                        <h5>GWR-B1000</h5>
                                                    </a>
                                                    <span>Carbon Core Guard Structure</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-model">
                                            <div class="model-sl">
                                                <div class="img-sell">
                                                    <a href=""><img
                                                            src="https://gshock.casio.com/content/casio/locales/intl/en/brands/gshock/products/air/_jcr_content/root/responsivegrid/container_1983787584/container_1975693142/content_panel_list/content_panel_202104211430562571/image.casiocoreimg.jpeg/1644398141095/products-sp-m.jpeg"
                                                            alt=""></a>
                                                </div>
                                                <div class="name-product-sell">
                                                    <a href="">
                                                        <h5>GPW-2000</h5>
                                                    </a>
                                                    <span>Absolute Toughness, Absolute Accuracy</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-model">
                                            <div class="model-sl">
                                                <div class="img-sell">
                                                    <a href=""><img
                                                            src="https://gshock.casio.com/content/casio/locales/intl/en/brands/gshock/products/air/_jcr_content/root/responsivegrid/container_1983787584/container_1975693142/content_panel_list/content_panel_202104211430562572/image.casiocoreimg.jpeg/1644398141122/products-sp-m.jpeg"
                                                            alt=""></a>
                                                </div>
                                                <div class="name-product-sell">
                                                    <a href="">
                                                        <h5>GR-B200</h5>
                                                    </a>
                                                    <span>Gravitymaster x Quad Sensor</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-model">
                                            <div class="model-sl">
                                                <div class="img-sell">
                                                    <a href=""><img
                                                            src="https://gshock.casio.com/content/casio/locales/intl/en/brands/gshock/products/air/_jcr_content/root/responsivegrid/container_1983787584/container_1975693142/content_panel_list/content_panel_202104211430562583/image.casiocoreimg.jpeg/1644398141149/products-sp.jpeg"
                                                            alt=""></a>
                                                </div>
                                                <div class="name-product-sell">
                                                    <a href="">
                                                        <h5>GR-B100</h5>
                                                    </a>
                                                    <span>THE TOUGH WATCH FOR PILOTS.</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-model">
                                            <div class="model-sl">
                                                <div class="img-sell">
                                                    <a href=""><img
                                                            src="https://gshock.casio.com/content/casio/locales/intl/en/brands/gshock/products/air/_jcr_content/root/responsivegrid/container_1983787584/container_1975693142/content_panel_list/content_panel_202104211453031144/image.casiocoreimg.jpeg/1644398141174/products-sp.jpeg"
                                                            alt=""></a>
                                                </div>
                                                <div class="name-product-sell">
                                                    <a href="">
                                                        <h5>GW / GA Series</h5>
                                                    </a>
                                                    <span>In the SKY</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-model">
                                            <div class="model-sl">
                                                <div class="img-sell">
                                                    <a href=""><img
                                                            src="https://gshock.casio.com/content/casio/locales/intl/en/brands/gshock/products/land/_jcr_content/root/responsivegrid/container_1983787584/container_1975693142/content_panel_list/content_panel_202312281029085978/image.casiocoreimg.jpeg/1703727895288/og-w800h800-notext.jpeg"
                                                            alt=""></a>
                                                </div>
                                                <div class="name-product-sell">
                                                    <a href="">
                                                        <h5>RANGEMAN GPR-H1000</h5>
                                                    </a>
                                                    <span>6 sensors + GPS functionality to track movement in real
                                                        time</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-model">
                                            <div class="model-sl">
                                                <div class="img-sell">
                                                    <a href=""><img
                                                            src="https://gshock.casio.com/content/casio/locales/intl/en/brands/gshock/products/land/_jcr_content/root/responsivegrid/container_1983787584/container_1975693142/content_panel_list/content_panel_202309271032547347/image.casiocoreimg.jpeg/1703727895068/og-w800h800-notext.jpeg"
                                                            alt=""></a>
                                                </div>
                                                <div class="name-product-sell">
                                                    <a href="">
                                                        <h5>GWG-B1000</h5>
                                                    </a>
                                                    <span>MUDMASTER flagship watch: Strength and functionality for
                                                        mastery of extreme conditions</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-model">
                                            <div class="model-sl">
                                                <div class="img-sell">
                                                    <a href=""><img
                                                            src="https://gshock.casio.com/content/casio/locales/intl/en/brands/gshock/products/land/_jcr_content/root/responsivegrid/container_1983787584/container_1975693142/content_panel_list/content_panel_202104211430562572/image.casiocoreimg.jpeg/1703727895098/og-w800h800-notext.jpeg"
                                                            alt=""></a>
                                                </div>
                                                <div class="name-product-sell">
                                                    <a href="">
                                                        <h5>GW-9500</h5>
                                                    </a>
                                                    <span>A slimmer profile, with enhanced readability and ease of use:
                                                        MUDMAN with a duplex LCD</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-model">
                                            <div class="model-sl">
                                                <div class="img-sell">
                                                    <a href=""><img
                                                            src="https://gshock.casio.com/content/casio/locales/intl/en/brands/gshock/products/land/_jcr_content/root/responsivegrid/container_1983787584/container_1975693142/content_panel_list/content_panel_202110111453280926/image.casiocoreimg.jpeg/1703727895126/products-sp.jpeg"
                                                            alt=""></a>
                                                </div>
                                                <div class="name-product-sell">
                                                    <a href="">
                                                        <h5>GWG-2000</h5>
                                                    </a>
                                                    <span>Forged carbon bezel takes toughness to a new level, prepares
                                                        you for the extremes</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-model">
                                            <div class="model-sl">
                                                <div class="img-sell">
                                                    <a href=""><img
                                                            src="https://gshock.casio.com/content/casio/locales/intl/en/brands/gshock/products/land/_jcr_content/root/responsivegrid/container_1983787584/container_1975693142/content_panel_list/content_panel_202104211430562570/image.casiocoreimg.jpeg/1703727895153/products-sp-m.jpeg"
                                                            alt=""></a>
                                                </div>
                                                <div class="name-product-sell">
                                                    <a href="">
                                                        <h5>GWG-1000</h5>
                                                    </a>
                                                    <span>MUD-RESISTANT STRUCTURE x TRIPLE SENSOR</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-model">
                                            <div class="model-sl">
                                                <div class="img-sell">
                                                    <a href=""><img
                                                            src="https://gshock.casio.com/content/casio/locales/intl/en/brands/gshock/products/land/_jcr_content/root/responsivegrid/container_1983787584/container_1975693142/content_panel_list/content_panel_202104211430562571/image.casiocoreimg.jpeg/1703727895180/products-sp-m.jpeg"
                                                            alt=""></a>
                                                </div>
                                                <div class="name-product-sell">
                                                    <a href="">
                                                        <h5>GG-B100</h5>
                                                    </a>
                                                    <span>STRENGTH AND FUNCTIONALITY TO SURVIVE THE EXTREMES</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-model">
                                            <div class="model-sl">
                                                <div class="img-sell">
                                                    <a href=""><img
                                                            src="https://gshock.casio.com/content/casio/locales/intl/en/brands/gshock/products/land/_jcr_content/root/responsivegrid/container_1983787584/container_1975693142/content_panel_list/content_panel_202104211430562583/image.casiocoreimg.jpeg/1703727895210/products-sp-m.jpeg"
                                                            alt=""></a>
                                                </div>
                                                <div class="name-product-sell">
                                                    <a href="">
                                                        <h5>GG-1000</h5>
                                                    </a>
                                                    <span>On the LAND</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-model">
                                            <div class="model-sl">
                                                <div class="img-sell">
                                                    <a href=""><img
                                                            src="https://gshock.casio.com/content/casio/locales/intl/en/brands/gshock/products/land/_jcr_content/root/responsivegrid/container_1983787584/container_1975693142/content_panel_list/content_panel_202104211453031144/image.casiocoreimg.jpeg/1703727895237/products-sp.jpeg"
                                                            alt=""></a>
                                                </div>
                                                <div class="name-product-sell">
                                                    <a href="">
                                                        <h5>GW-9400</h5>
                                                    </a>
                                                    <span>BUILT FOR RIGOROUS</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-model">
                                            <div class="model-sl">
                                                <div class="img-sell">
                                                    <a href=""><img
                                                            src="https://gshock.casio.com/content/casio/locales/intl/en/brands/gshock/products/land/_jcr_content/root/responsivegrid/container_1983787584/container_1975693142/content_panel_list/content_panel_202104211453031155/image.casiocoreimg.jpeg/1703727895265/products-sp.jpeg"
                                                            alt=""></a>
                                                </div>
                                                <div class="name-product-sell">
                                                    <a href="">
                                                        <h5>GW-9300</h5>
                                                    </a>
                                                    <span>A STRUCTURE THAT THRIVES ON ROUGH USE</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div style="color: #FF0000;" class="btn-models">
                        <div id="left-selling" class="left-models btn-mod">
                            <i class='bx bx-chevron-left'></i>
                        </div>
                        <div id="right-selling" class="right-models btn-mod">
                            <i class='bx bx-chevron-right'></i>
                        </div>
                </div> -->
                                </div>

                                <div class="list-products-contai">
                                    <div class="title-list-product">
                                        <form action="" method="get">
                                            <div class="d-flex">
                                                <input type="text" name="product_name" value="<%= q %>" class="form-control"
                                                    placeholder="Search product">
                                                <button class="btn btn-primary">Search</button>
                                            </div>
                                        </form>
                                        <ul>
                                            <% categories.forEach(item=> { %>
                                                <li class="menu-item active-title-product">
                                                    <a href="/products/category/<%= item.id %>"><%= item.name %></a>
                                                </li>
                                                <% }) %>
                                        </ul>
                                    </div>
                                    <div class="list-products">
                                        <div class="list-item">
                                            <!-- G-STEEL -->
                                            <div class="item-product">
                                                <% products.forEach((item)=> { %>
                                                    <div class="pro-item">
                                                        <div class="model-sl">
                                                            <a href="/products/<%= item.id %>">
                                                            <div class="img-sell">

                                                                    <img src="/<%= item.image %>" alt="...">
                                                         
                                                            </div>
                                                            </a>
                                                            <div class="name-product-item">
                                                                <a href="/products/<%= item.id %>">
                                                                    <h5>
                                                                        <%= item.price %> đ
                                                                    </h5>
                                                                </a>
                                                                <span>
                                                                    <%= item.name %>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% })%>
                                            </div>
                                        </div>
                                    </div>
                                </div>
        </div>

        <div class="real-100">
            <div class="camket">
                <div class="icon-camket">
                    <img src="https://image.donghohaitrieu.com/wp-content/uploads/2023/09/logo-dong-ho-hai-trieu-full-mau.png"
                        alt="">
                </div>
                <div class="content-camket">
                    <h6>CAM KẾT CHÍNH HÃNG 100%</h6>
                    <span>Tất cả sản phẩm của M-Watch bán ra đều có giấy cam kết chính hãng, trường hợp phát hiện hàng
                        fake, M-Watch cam kết hoàn 500% giá trị.</span>
                </div>
            </div>
            <div class="camket">
                <div class="icon-camket">
                    <img src="https://image.donghohaitrieu.com/wp-content/uploads/2023/09/logo-dong-ho-hai-trieu-full-mau.png"
                        alt="">
                </div>
                <div class="content-camket">
                    <h6>CHẾ ĐỘ BẢO HÀNH QUỐC TẾ</h6>
                    <span>Tất cả đồng hồ bán ra tại M-Watch đều có phiếu bảo hành quốc tế của hãng, 100% sử dụng được
                        tại trung tâm bảo hành hãng tại Việt Nam.</span>
                </div>
            </div>
            <div class="camket">
                <div class="icon-camket">
                    <img src="https://image.donghohaitrieu.com/wp-content/uploads/2023/09/logo-dong-ho-hai-trieu-full-mau.png"
                        alt="">
                </div>
                <div class="content-camket">
                    <h6>TẬN TÂM VỚI KHÁCH HÀNG</h6>
                    <span>Mỗi khách hàng đến với M-Watch đều như người nhà, được tiếp nhiệt tình, vui vẻ tạo cho khách
                        hàng cảm giác thoải mái nhất.</span>
                </div>
            </div>
            <div class="camket">
                <div class="icon-camket">
                    <img src="https://image.donghohaitrieu.com/wp-content/uploads/2023/09/logo-dong-ho-hai-trieu-full-mau.png"
                        alt="">
                </div>
                <div class="content-camket">
                    <h6>TIÊU CHUẨN BẢO HÀNH</h6>
                    <span>Trung tâm bảo hành M-Watch trang bị 100% máy móc chuyên dụng nhập khẩu, linh kiện chính hãng,
                        quy trình bài bản.</span>
                </div>
            </div>
        </div>
        </div>


        </article>
        </div>


    </main>
    <%- include('../layout/footer') %>