<%- include('../../layout/header') %>

    <main class="main">
        <div class="categories container">
            <h1>Quản lý đơn hàng</h1>
    
            <table class="table table-striped table-light">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">ID</th>
                        <th scope="col">Category Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">More</th>
                    </tr>
                </thead>
                <tbody>
                    <% orders.forEach(item => { %>
                        <tr>
                            <th scope="row"><%= item.id %></th>
                            <td><%= item.user_id %></td>
                            <td><%= item.status %></td>
                            <td class="more">
                                <button class="btn-delete-category btn btn-dark" value="" onclick="updateOrder('<%= item.id %>', '<%= item.status %>')">Update</button>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
                <div class="form-delete none-active">
                    <form action="" method="POST"> 
                        <div class="form-group">
                            <span>Xác nhận xóa?</span>
                            <input id="id-update" type="hidden" name="id-xoa" value="">
                            <div class="confirm">
                                <a id="confirmDelete" href="">Xóa</a>
                                <div class="none" >Hủy</div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="form-update form-update-order none-active">
                    <form id="form-submit-update" action="" method="POST">
                        <div class="form-group">
                            <span>Cập nhật trạng thái đơn hàng</span>
                            <input id="id-order-update" type="hidden" name="id-update" value="">
                            <select name="status" id="status-update">
                                <option value="Chờ xác nhận">Chờ xác nhận</option>
                                <option value="Đã xác nhận">Đã xác nhận</option>
                                <option value="Đang vận chuyển">Đang vận chuyển</option>
                                <option value="Đang giao hàng">Đang giao hàng</option>
                                <option value="Đã giao">Đã giao</option>
                                <option value="Đã hoàn thành">Đã hoàn thành</option>
                                <option value="'Đã hủy đơn">Đã hủy đơn</option>
                            </select>
                            <div class="confirm">
                                <button type="submit">Cập nhật</button>
                                <button type="button" class="none-update">Hủy</button>
                            </div>
                        </div>
                    </form>
                </div>
            </table>
    
            </div>
    </main>
    <script src="/js/admin.js"></script>
  <%- include('../../layout/footer') %>