<%- include('../../layout/header') %>

    <main class="main">
        <div class="categories container">
            <h1>Quản lý người dùng</h1>
            <div class="d-flex justify-content-between">
            </div>

            <table class="table table-striped table-light">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">ID</th>
                        <th scope="col">User Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Active</th>
                        <th scope="col" class="th" colspan="2" style="text-align: center;">More</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach((item) => { %>
                        <tr>
                            <th scope="row">
                                <%= item.id %>
                            </th>
                            <td>
                                <%= item.username %>
                            </td>
                            <td>
                                <%= item.email %>
                            </td>
                            <td>
                                <% if(item.isActive == 1) { %>
                                    Active
                                <% } else { %>
                                    <span style="color: red;">Disabled</span>
                                <% } %>
                            </td>
                            <td class="more">
                                <button class="btn-delete-category btn btn-dark" value="" onclick="updateUser('<%= item.id %>')">Update</button>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
                <div class="form-update none-active">
                    <form id="form-submit-update" action="" method="POST">
                        <div class="form-group">
                            <span>Chọn trạng thái người dùng</span>
                            <input id="id-user-update" type="hidden" name="id-update" value="">
                            <select name="status" id="status-update">
                                <option value="1">Hoạt động</option>
                                <option value="0">Không hoạt động</option>
                            </select>
                            <div class="confirm">
                                <button type="submit">Cập nhật</button>
                                <button class="none-update">Hủy</button>
                            </div>
                        </div>
                    </form>
                </div>
            </table>

        </div>
    </main>
    <script src="/js/admin.js"></script>
    <%- include('../../layout/footer') %>